<%= form_for @genre do |f| %>
<article class="form genre-form">
	<%= render "shared/errors", object: @genre %>
	<div class="form-container">
		<div class="field-area-container">
			<%= f.text_field :name, autofocus: true, placeholder: "Name", class: "field-area" %>
		</div>
		<div class="submit-cancel-container">
			<% if @genre.new_record? %>
				<%= f.submit "Add Genre", class: "submit-btn" %>
			<% else %>
				<%= f.submit "Update Genre", class: "submit-btn" %>
			<% end %>
			<%= link_to "Cancel", movies_path, class: "cancel-link" %>
		</div>
	</div>
</article>
<% end %>