<div class="clear"></div>
<header>
	<div class="title-header">Log In</div>
</header>

<%= form_tag(session_path) do %>
<article class="form session-form">
	<div class="form-container">
		<div class="field-area-container">
			<%= text_field_tag :email, nil, placeholder: "Email or Username", autofocus: true, required: true, class: "field-area" %>
		</div>
		<div class="field-area-container">
			<%= password_field_tag :password, nil, placeholder: "Password", required: true, class: "field-area" %>
		</div>
		<div class="submit-cancel-container">
			<%= submit_tag "Log In", class: "submit-btn" %>
			<%= link_to "Cancel", movies_path, class: "cancel-link" %>
		</div>
		<% end %>
		<div class="signup-container">
			Don't have an account? <%= link_to "Sign Up", signup_path, class: "signup-link" %> here!
		</div>
	</div>
</article>