<%= form_for(@movie) do |f| %>
<%= render "shared/errors", object: @movie %>
<p>
	<%= f.label :title, "Title" %><br/>
	<%= f.text_field :title, autofocus: true %>
</p>
<p>
	<%= f.label :rating %>
	<%= f.select :rating, Movie::RATINGS, prompt: "Pick one" %>
</p>
<p>
	<%= f.label :released_on, "Release Date" %>
	<%= f.date_select :released_on %>
</p>
<p>
	<%= f.label :total_gross, "Worldwide Gross" %>
	<%= f.number_field :total_gross %>
</p>
<p>
	<%= f.label :description, "Description" %><br/>
	<%= f.text_area :description, cols: 40, rows: 10 %>
</p>
<p>
	<%= f.label :cast %>
	<%= f.text_field :cast %>
</p>
<p>
	<%= f.label :director %>
	<%= f.text_field :director %>
</p>
<p>
	<%= f.label :duration %>
	<%= f.text_field :duration, size: 10 %>
</p>
<p>
	<%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
</p>
<p>
	<%= f.label :image, "Image" %>
	<%= f.file_field :image %>
</p>
<p>
	<%= image_for(@movie) %>
</p>
	<%= f.submit %> |
	<%= link_to "cancel", movies_path %>

<% end %>