<div class="clear"></div>
<%= form_for(@movie) do |f| %>
<article class="form">
	<%= render "shared/errors", object: @movie %>
	<div class="form-container">
		<div class="field-area-container">
			<%= f.text_field :title, autofocus: true, placeholder: "Title", class: "field-area" %>
		</div>
		<div class="select-container">
			<%= f.select :rating, Movie::RATINGS, prompt: "Choose a rating" %>
		</div>
		<div class="select-container date-select">
			<%= f.date_select :released_on %>
		</div>
		<div class="field-area-container">
			<%= f.number_field :total_gross, placeholder: "Total gross" , class: "field-area" %>
		</div>
		<div class="field-area-container">
			<%= f.text_area :description, cols: 40, rows: 5, placeholder: "Write a description", class: "field-area text-area" %>
		</div>
		<div class="field-area-container">
			<%= f.text_field :cast, placeholder: "Cast", class: "field-area" %>
		</div>
		<div class="field-area-container">	
			<%= f.text_field :director, placeholder: "Director", class: "field-area" %>
		</div>
		<div class="field-area-container">
			<%= f.text_field :duration, size: 10, placeholder: "Duration", class: "field-area" %>
		</div>
		<div class="check-box-container">
			<%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
		</div>
		<div class="file-upload-container">
			<%= f.file_field :image %>
		</div>
		<div class="image-preview-container">
			<%= image_for(@movie, type: :med) %>
		</div>
		<div class="submit-cancel-container">
			<%= f.submit class: "submit-btn" %>
			<%= link_to "Cancel", movies_path, class: "cancel-link" %>
		</div>
	</div>
</article>
<% end %>