<h1><%= pluralize(@movies.size, "Movie") %></h1>
<br>
<article>
<% @movies.each do |movie| %>
	<header>
		<h2><%= link_to(movie.title, movie) %></h2>
	</header>
	<table>
		<tr>
			<th>Rated: </th>
			<td><%= movie.rating %></td>
		</tr>
		<tr>
			<th>Release Date: </th>
			<td><%= movie.released_on.to_s(:release_date) %> (<%= time_ago_in_words(movie.released_on) %> ago) (USA)<td>
		</tr>
		<tr>
			<th>Worldwide Gross: </th>
			<td><%= format_total_gross(movie) %></td>
		</tr>
	</table>
	<p><%= truncate(movie.description, length: 43, separator: " ") %> (<%= link_to("continued", movie) %>)</p>
	<br>
<% end %>
</article>