<% content_for(:title, @movie.title) %>

<article class="movie">
	<header>
		<%= image_for(@movie) %>
		<h2><%= @movie.title %></h2>
		<p>
			<%= pluralize(@fans.size, "Fan") %>
		</p>
	</header>
	<% @genres.each do |genre| %>	
		<strong>(<%= link_to genre.name, genre_movies_path(genre) %>)</strong>
	<% end %>
	<br /><br />
	<table>
		<% if current_user %>
		<tr>
			<th>
				<% if @current_favorite %>
					<%= button_to "Unfavorite", [@movie, @current_favorite], method: :delete %>
				<% else %>
					<%= button_to "Favorite", movie_favorites_path(@movie) %>
				<% end %>
			</th>
		</tr>
		<% end %>
		<tr>
			<th>Rated: </th>
			<td><%= @movie.rating %></td>
		</tr>
		<tr>
			<th>Release Date: </th>
			<td><%= @movie.released_on.to_s(:release_date) %> (<%= time_ago_in_words(@movie.released_on) %> ago) (USA)<td>
		</tr>
		<tr>
			<th>Worldwide Gross: </th>
			<td><%= format_total_gross(@movie) %></td>
		</tr>
		<tr>
			<th>Cast</th>
			<td><%= @movie.cast %></td>
		</tr>
		<tr>
			<th>Director</th>
			<td><%= @movie.director %></td>
		</tr>
		<tr>
			<th>Duration</th>
			<td><%= @movie.duration %></td>
		</tr>
		<tr>
			<th>Average Star Rating</th>
			<td>
				<%= format_average_stars(@movie) %>
				<%= classic(@movie) %>
			</td>
		</tr>
	</table>
	<br/>
	<br/>
	<p>
		<%= @movie.description %>
	</p>
	<p class="movie">
		<%= link_to "Reviews", movie_reviews_path(@movie) %>
		<br><br>
		<%= link_to "Write Review", new_movie_review_path(@movie) %>
	</p>
</article>
<p class="movie">
<% if current_user_admin? %>	
	<%= link_to "Edit", edit_movie_path(@movie) %> |
	<%= link_to "Delete", movie_path(@movie), method: :delete,
			data: {confirm: "Are you sure?"} %>
<% end %>
</p>