<% content_for(:title, @movie.title(self)) %>
<%= @movie.background_image(self) %>

<div class="movie-billboard is-detailed">
	<%= link_to @movie.poster_image(self), movie_url(@movie.id) %>
	<div class="movie-info">
		<div class="movie-info__title">
			<p><%= @movie.title(self) %></p>
  	</div>
		<ul class="movie-info__other-details">
      <li>
        <span>Release Date:</span> <br />
        <%= @movie.release_date %> <br />
        <%= @movie.time_since_release_date(self) %>
      </li>
      <li>
        <span>Revenue:</span> <br />
        <%= @movie.revenue(self) %>
      </li>
      <li>
        <span>Duration:</span> <br />
        <%= @movie.duration %>
      </li>
      <li>
        <span>Average Star Rating (1 - 10):</span> <br />
        <%= @movie.star_rating(self) %> <br />
        <%= @movie.hit_status(self) %>
      </li>
    </ul>
  </div>
</div>

<div class="movie-genre">
	<% @movie.genres.each do |genre| %>
		<div class="movie-genre__name">
			<%= link_to genre.name, filtered_movies_by_genre_url(genre_ids: genre.id, page: 1) %>
		</div>
	<% end %>
</div>
<div class="movie-info is-overview-only">
	<div class="movie-info__overview">
		<%= @movie.overview %>
	</div>
</div>