<% content_for(:title, @user.name) %>
<div class="clear"></div>
<article id="user">
	<div class="user-profile-container">
		<%= profile_image_for(@user) %>
		<div class="profile-username">
			<%= @user.username %>
		</div>
		<% if current_user?(@user) %>
		<div class="user-account-links">
			<%= link_to "Edit Account", edit_user_path(@user.username), class: "user-edit-link account-links" %><br />
			<%= link_to "Delete Account", user_path(@user.username),method: :delete, data: { confirm: "Are you sure you want to permanently delete your account?" }, class: "user-delete-link account-links" %>
		</div>	
		<% end %>
	</div>

	<% if @reviews.any? %>
	<div class="user-reviews-header">
		Reviews
	</div>
		<% @reviews.find_each do |review| %>
		<div class="user-reviews-container">
			<div class="user-timestamp">
				(<%= time_ago_in_words(review.created_at).capitalize %> ago)
			</div>
			<%= link_to content_tag(:strong, review.movie.title), movie_path(review.movie), class: "user-review-link" %>
			<div class="user-review-rating-container">
				<p>Star Rating:</p>
				<% review.stars.times do %>
					<%= image_tag("rating_icon.png", alt: "*", class: "user-rating-icon") %>
				<% end %>
			</div>
			<div class="user-review-comment">
				&quot;<%= review.comment %>&quot;
			</div>
		</div>
		<% end %>
	<% else %>
	<div class="no-user-reviews"></div>
	<% end %>
</article>
<% content_for(:side) do %>
	<% if @favorite_movies.any? %>
	<section class="favorites">
		<div class="favorites-header">
			Fav Movies
		</div>
			<% @favorite_movies.find_each do |movie| %>
			<div class="favorite-movie-container">
				<%= image_for(movie, type: :favorite_movie) %><br />
				<%= link_to movie.title, movie, class: "favorite-movie-link" %>
			</div>
			<% end %>
	</section>
	<% end %>
<% end %>