<header>
	<h2>
		Reviews for <%= link_to @movie.title, movie_path(@movie) %>
	</h2>
</header>

<ol>
	<% @reviews.each do |review| %>
	<li>
		<h3><%= profile_image_for(review.user, size: 30) %> <%= link_to(review.user.name, review.user) %> -
		 <%= review.location %>
		</h3>
		<h3>
			<%= pluralize(review.stars, "Star") %>
			<h3>
		<p>
			<%= review.comment %>
		</p>
	</li>
	<% end %>
</ol>