<div class="clear"></div>
<header>
	<div class="title-header">
		Reviews for <br /><%= link_to @movie.title, @movie, class: "title-link" %>
	</div>
</header>

<% @reviews.each do |review| %>
<article class="reviews">
	<div class="reviews-container">
		<div class="review-profile-image-container">
			<%= profile_image_for(review.user, size: 50) %>
		</div>
		<div class="review-user-link-container">
			<%= link_to review.user.name, user_path(review.user.username), class: "review-user-link" %>
		</div>
		<div class="review-rating-container">
			<p>Star Rating:</p>
			<% review.stars.times do %>
				<%= image_tag("rating_icon.png", alt: "*", class: "rating-icon") %>
			<% end %>
		</div>
		<div class="review-comment-container">
			<%= review.comment %>
		</div>
	</div>
</article>
<% end %>
<% if @reviews.empty? %>
<div class="no-reviews">There are no reviews.</div>
<% end %>
