<header>
	<h1>Write Your Review Below!</h1>
</header>
<%= form_for [@movie, @review] do |f| %>
<%= render "shared/errors", object: @review %>
<p>
<%= f.label :name, "Name" %>
<%= f.text_field :name, autofocus: true %>
</p>
<p>
<%= f.label :stars, "Star Rating" %>
<%= f.select :stars, Review::STARS, prompt: "Pick one" %>
</p>
<p>
<%= f.label :comment, "Comment" %>
<%= f.text_area :comment, cols: 80, placeholder: "What did you think?" %>
</p>
<p>
<%= f.submit "Post Review", :disable_with => "Posting..." %>
<%= link_to "Cancel", @movie %>
</p>
<% end %>