<header id="page-header">
	<div id="header-container">
		<%= link_to image_tag("flixer_logo.png", class: "flixer-logo"), root_path %> 
		<div class="navbar-container">
			<% if current_user %>
				<%= link_to current_user.username, user_path(current_user.username), class: "navbar-content" %> |
				<%= link_to "Account Settings", edit_user_path(current_user.username), class: "navbar-content" %> | 
				<%= link_to "Log Out", session_path, method: :delete, class: "navbar-content" %>
			<% else %>
				<%= link_to "Sign Up", signup_path, class: "navbar-content" %> | <%= link_to "Log In", new_session_path, class: "navbar-content" %>
			<% end %>
		</div>
	</div>
</header>