<div class="clear"></div>
<aside id="sidebar">
	<div class="side-menu-icon">
		<%= link_to image_tag("side_menu_icon.jpg"), "#" %>
	</div>
		<ul>
			<li>
			<%= link_to "All Movies", movies_path, class: "sidebar-text" %>
			</li>
			<li>
				<%= link_to "Upcoming", filtered_movies_path(:upcoming), class: "sidebar-text" %>
			</li>
			<li>
				<%= link_to "Recent", filtered_movies_path(:recent), class: "sidebar-text" %>
			</li>
			<li>
				<%= link_to "Flops", filtered_movies_path(:flops), class: "sidebar-text" %>
			</li>
			<li>
				<%= link_to "Hits", filtered_movies_path(:hits), class: "sidebar-text" %>
			</li>
			<li>
			<%= link_to "All Genres", genres_path, class: "sidebar-text" %>
			</li>
			<% if current_user_admin? %>
				<% if controller_path == "movies" %>
				<li>
				<%= link_to "Add New Movie", new_movie_path, class: "sidebar-text" %>
				</li>
				<% end %>
				<% if controller_path == "genres" %>
				<li>
					<%= link_to "Add New Genre", new_genre_path, class: "sidebar-text" %>
				</li>
				<% end %>
				<li>
					<%= link_to "All Users", users_path, class: "sidebar-text" %>
				</li>
			<% end %>
		</ul>
		<%= content_for(:side) %>
	</aside>