<aside id="sidebar">
		<nav>
		<p>
			<ul>
				<li>
				<%= link_to "All Movies", movies_path %>
				</li>
				<li>
				<%= link_to "All Genres", genres_path %>
				</li>
				<% if current_user_admin? %>
					<% if controller_path == "movies" %>
					<li>
					<%= link_to "Add New Movie", new_movie_path %>
					</li>
					<% end %>
					<% if controller_path == "genres" %>
					<li>
						<%= link_to "Add New Genre", new_genre_path %>
					</li>
					<% end %>
				<% end %>
			</ul>
		</p>
	</nav>
	<%= content_for(:side) %>
	</aside>